h1,h2,h3,h4,h5,h6,a,p {
    font-family: 'Poppins', sans-serif;
}

.green-first {
    color: #425F57;
}

.green-second {
    color : #749F82;
}

.green-third {
    color : #A8E890;
}

.green-fourth {
    color : #D9F7C4;
}

 .btn {
     /* padding: 1em 2.1em 1.1em; */
     border-radius: 3px;
     margin: 2px 2px 2px 2px;
     color: #fbdedb;
     background-color: #fbdedb;
     display: inline-block;
     background: #e74c3c;
     /* -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -o-transition: 0.3s;
     transition: 0.3s; */
     font-family: poppins;
     /* font-weight: 800;
     font-size: .85em; */
     text-align: center;
     text-decoration: none;
     position: relative;
 }

 .btn:hover,
 .btn:focus {
     opacity: 0.8;
 }

 .btn:active {
     -webkit-transform: scale(0.80);
     -moz-transform: scale(0.80);
     -ms-transform: scale(0.80);
     -o-transform: scale(0.80);
     transform: scale(0.80);
 }

 .btn.block {
     display: block !important;
 }

 .btn.circular {
     border-radius: 50em !important;
 }

 .btn-green-first {
     background-color: #749F82;
 }

.card-green-fourth {
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(207, 255, 141, 1);
    transition: 0.3s;
    border-radius: 30px;
}

/* If the screen size is 1200px wide or more, set the font-size to 80px */
@media (min-width: 1200px) {
    .responsive-font-example {
        font-size: 45px;
    }
}

/* If the screen size is smaller than 1200px, set the font-size to 80px */
@media (max-width: 1199.98px) {
    .responsive-font-example {
        font-size: 25px;
    }
}

a:hover {
    color: #425F57;
}