* {
  font-family: "Poppins", sans-serif;
}

#booking-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 5%;
}
#booking-page .start {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 200px;
}
#booking-page .start .profile {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
}
#booking-page .start .profile img {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  width: 70px;
}
#booking-page .start .profile h4 {
  border-bottom: 2px solid black;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-right: 1rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
}
#booking-page .end {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 5rem 0;
}
#booking-page .end .content-start {
  width: 100%;
  width: 500px;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#booking-page .end .content-start h3 {
  margin-bottom: 2rem;
  font-weight: bold;
  color: #425F57;
}
#booking-page .end .content-start .services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#booking-page .end .content-start .services .list-services {
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #CFFF8D;
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
#booking-page .end .content-start .services .list-services h4 {
  text-align: center;
  margin-bottom: 0;
}
#booking-page .end .content-start .services .list-services .currency {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
#booking-page .end .content-start .services .list-services .currency i {
  font-size: 25px;
  font-weight: bold;
}
#booking-page .end .content-start .services .list-services .currency p {
  margin-bottom: 0;
  font-weight: bold;
}
#booking-page .end .content-start .services input[type=radio] {
  display: none;
}
#booking-page .end .content-start .services #ls-1:checked ~ .ls-1 {
  border: 1px solid #425F57;
}
#booking-page .end .content-start .services #ls-2:checked ~ .ls-2 {
  border: 1px solid #425F57;
}
#booking-page .end .content-start .services #ls-3:checked ~ .ls-3 {
  border: 1px solid #425F57;
}
#booking-page .end .content-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  justify-content: space-evenly;
  padding: 0 1rem;
}
#booking-page .end .content-end form {
  position: relative;
}
#booking-page .end .content-end form .search {
  border: none;
  position: absolute;
  top: 53%;
  right: 1%;
  transform: translate(-50%, -50%);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  font-size: 25px;
  background: none;
}
#booking-page .end .content-end form input {
  width: 100%;
  background-color: #A8E890;
  border-radius: 10px;
  padding: 1rem 2rem;
  font-size: 20px;
  border: none;
}
#booking-page .end .content-end .navigate-maps {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 0;
  width: 100%;
  max-width: 500px;
}
#booking-page .end .content-end .navigate-maps button {
  border: none;
  background-color: lightgray;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
#booking-page .end .content-end .navigate-maps button i {
  margin-right: 0.5rem;
}
#booking-page .end .content-end iframe {
  width: 100%;
  max-width: 450px;
  max-height: 250px;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 4px lightgray;
}
#booking-page .end .content-end .order {
  border: none;
  background-color: #425F57;
  color: white;
  border-radius: 10px;
  padding: 1rem 4rem;
}
#booking-page .navigator {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 240px;
}
#booking-page .navigator button {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #A8E890;
  border: none;
  border-radius: 5px;
}
#booking-page .navigator button i {
  margin-bottom: 1rem;
  position: absolute;
  top: 20px;
}
#booking-page .navigator button span {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  rotate: 90deg;
  position: absolute;
  top: 50px;
  transform: translate(50%);
}

#registration-page {
  width: 100%;
  height: 960px;
  background-color: #A8E890;
  padding: 5%;
}
#registration-page .wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem 2rem;
}
#registration-page .wrapper .start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-bottom: 4rem;
}
#registration-page .wrapper .start h1 {
  font-weight: bolder;
  text-transform: uppercase;
  color: black;
}
#registration-page .wrapper .center {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
#registration-page .wrapper .center form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}
#registration-page .wrapper .center form .input {
  position: relative;
  margin-bottom: 1rem;
}
#registration-page .wrapper .center form .input label {
  position: absolute;
  top: 23%;
  right: 10px;
  transform: translate(-50%);
  font-size: 25px;
}
#registration-page .wrapper .center form .input input {
  width: 100%;
  border: 1px solid black;
  padding: 1rem 2rem 1rem 1rem;
  border-radius: 10px;
}
#registration-page .wrapper .center form .checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
#registration-page .wrapper .center form .checkbox input {
  margin-left: 1rem;
  margin-right: 1rem;
}
#registration-page .wrapper .center form .checkbox label a {
  color: black;
  font-weight: bold;
}
#registration-page .wrapper .center form .button {
  display: flex;
  align-items: center;
  justify-content: center;
}
#registration-page .wrapper .center form .button button {
  background-color: #A8E890;
  color: black;
  font-weight: bold;
  border: none;
  padding: 1rem 5rem;
  border-radius: 10px;
}
#registration-page .wrapper .end {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#registration-page .wrapper .end span {
  text-align: center;
}
#registration-page .wrapper .end span a {
  color: black;
  font-weight: bold;
}

#rating-page {
  display: flex;
  background-color: #CFFF8D;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: white;
}
#rating-page .start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100% !important;
  padding: 5%;
}
#rating-page .start h4 {
  font-size: 24px;
  margin-bottom: 4rem;
}
#rating-page .start img {
  width: 100%;
  max-width: 540px;
}
#rating-page .end {
  width: 100%;
  max-width: 800px;
  padding: 2%;
  background-color: #CFFF8D;
}
#rating-page .end form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
#rating-page .end form #checkbox {
  margin-bottom: 2rem;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
}
#rating-page .end form #checkbox h4 {
  text-align: center;
}
#rating-page .end form #checkbox .checkbox-item {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex: 5 10 23%;
  padding: 1rem;
}
#rating-page .end form #checkbox .checkbox-item div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
#rating-page .end form #checkbox .checkbox-item div input {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
#rating-page .end form #checkbox .checkbox-item div input:checked {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  background-color: blue;
}
#rating-page .end form #checkbox .checkbox-item div img {
  margin-bottom: 1rem;
  max-width: 50px;
  cursor: pointer;
}
#rating-page .end form .comment {
  margin-bottom: 2rem;
}
#rating-page .end form .comment label {
  margin-bottom: 1rem;
}
#rating-page .end form .comment textarea {
  width: 100%;
  height: 100px;
  padding: 1rem;
  border-radius: 10px;
}
#rating-page .end form .rating {
  margin-bottom: 0rem;
}
#rating-page .end form .rating textarea {
  width: 100%;
  height: 200px;
  padding: 1rem;
  border-radius: 10px;
}

#payment-gateway {
  padding: 3rem;
}
#payment-gateway .start {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 2rem;
}
#payment-gateway .start img {
  width: 100px;
}
#payment-gateway .end form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#payment-gateway .end form .start {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
}
#payment-gateway .end form .start label {
  text-align: left;
  width: 100%;
  font-size: 22px;
}
#payment-gateway .end form .start input {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem !important;
  border-radius: 10px;
  padding: 0.5rem;
  border: 1px solid lightgray;
}
#payment-gateway .end form .end {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#payment-gateway .end form .end label {
  text-align: left;
  width: 100%;
  font-size: 22px;
}
#payment-gateway .end form .end input {
  width: 100%;
  margin: 1rem 0;
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 1rem !important;
}
#payment-gateway .end form .end .date {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#payment-gateway .end form .end .date input {
  width: 48.5%;
}
#payment-gateway .end form button {
  margin: 1rem 0;
  padding: 0.8rem 0.5rem;
  border: none;
  background-color: #749F82;
  color: white;
  border-radius: 10px;
}
#payment-gateway .end form p {
  text-align: center;
}
#payment-gateway .end form p a {
  color: #749F82;
}/*# sourceMappingURL=style-2.css.map */